.box1, .box2, .box3, .box4, .box5, .box6 {
  background-color: #ccc;
  /* border-radius: 10px; */
  overflow: hidden;
  height: 500px;
  max-height: 500px;
  /* width: 400px;
  max-width: 500px; */
  -webkit-box-shadow: 0px 12px 18px -6px rgba(0,0,0,0.3);
  box-shadow: 0px 12px 18px -6px rgba(0,0,0,0.3) ;
}

.grid{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  /* text-align: center; */
  /* gap: 50px; */
  grid-template-columns: repeat(3, 1fr);
  gap: 100px;
  margin-top: 100px;
  margin-bottom: 75px;
}

.boxx {
  justify-content: center;
  text-align: center;
  border-radius: 10px;
  /* margin: 40px; */
  gap:200px;
  display: block;
  
}

.boxx {
  /* ...existing styles... */
  transition: transform 0.3s ease; /* Add transition property for smooth animation */
}

.boxx:hover {
  transform: scale(1.1); /* Increase the scale to make it bigger */
}

.grid > div {
  flex-basis: calc(25% - 20px);
}

.box1 {
  background-image: url(../bookAv4.jpg);
  background-size: cover;
  /* background-position: 0dvw; */
  background-position-x: -64px;
  /* padding-top: 35px; */
  
  width: 390px;
}

.box2 {
  background-image: url(../exercicesAv.png);
  background-size: cover;
  /* background-position: 0dvw; */
  background-position-y:100px ;
  /* padding-top:35px ; */
  width: 390px;
  background-repeat: no-repeat;
}

.box3 {
  background-image: url(../bookAvJPG.JPG);
  background-size: cover;
  /* background-position: 0dvw; */
  background-position-y:10px ;
  /* padding-top:35px ; */
  width: 390px;
  background-repeat: no-repeat;
  

}

.exgrid, .dictionarygrid, .lessonsgrid {
  font-weight: bold;
  
  font-size: 30px;
}



a {
  text-decoration: none;
  
}
a:active {
  color:black
}

a:visited {
  color: black;
}


