* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    
    text-transform: uppercase;
    font-weight: 600;
    color: rgb(206, 206, 206);;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
    top:0;
}

.navbar a {
    width: 100%;
    text-align: center;    
    text-decoration: none;
}

.navbar ul {
    padding-top: 10px;
    padding-bottom: 10px;
}

.home {
    background-color: #34568B;
    /* background-color: #1976d2; */
    border-right: 2px solid #ccc;
    border-bottom: 2px solid #34568B;
    /* border-bottom: 2px solid#1976d2; */
}
.lessons {
    background-color: rgb(0, 139, 104);
    border-right: 2px solid #ccc;
    border-bottom: 2px solid #ccc;
}
.exercices {
    background-color: #6B5B95;
    border-right: 2px solid #ccc;
    border-bottom: 2px solid #ccc;
}
.youtube {
    background-color: #9B2335;
    border-right: 2px solid #ccc;
    border-bottom: 2px solid #ccc;
}
.dictionary {
    background-color: #92A8D1;
    border-bottom: 2px solid #ccc;
    
}

.dictionary-logo {
    transform: translate(0px, 1px);
    position: relative;
    
}

.youtube-logo {
    transform: translate(-2px, 2px);
}


.navbar a:visited {
    color: rgb(206, 206, 206); ;
    /* text-decoration: none; */
}

.navbar a:hover {
    color: rgb(206, 206, 206);
 
}

@media (max-width: 767px) {
    .navbar {
        font-size: 50%;
    }}

/* something */

.levels:hover {
background-color: green;
}